<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CCSModuleSize</key>
	<dict>
		<key>Landscape</key>
		<dict>
			<key>Height</key>
			<integer>1</integer>
			<key>Width</key>
			<integer>1</integer>
		</dict>
		<key>Portrait</key>
		<dict>
			<key>Height</key>
			<integer>1</integer>
			<key>Width</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>CPUthermal</string>
	<key>CFBundleExecutable</key>
	<string>CPUthermalCC</string>
	<key>CFBundleIdentifier</key>
	<string>com.huayuarc.cputhermal.ccmodule</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CPUthermal</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>GetModuleSizeAtRuntime</key>
	<false/>
	<key>MinimumOSVersion</key>
	<string>15.0</string>
	<key>ModuleSize</key>
	<dict>
		<key>Landscape</key>
		<dict>
			<key>Height</key>
			<integer>1</integer>
			<key>Width</key>
			<integer>1</integer>
		</dict>
		<key>Portrait</key>
		<dict>
			<key>Height</key>
			<integer>1</integer>
			<key>Width</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>NSPrincipalClass</key>
	<string>CPUthermalCCModule</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
</dict>
</plist>
